/* font import */
    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Extralight.woff') format('woff'),
        url('fonts/LeagueSpartan-Extralight.ttf') format('truetype');
      font-weight: 200;
    }

    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Light.woff') format('woff'),
        url('fonts/LeagueSpartan-Light.ttf') format('truetype');
      font-weight: 300;
    }

    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Regular.woff') format('woff'),
        url('fonts/LeagueSpartan-Regular.ttf') format('truetype');
      font-weight: 400;
    }

    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Medium.woff') format('woff'),
        url('fonts/LeagueSpartan-Medium.ttf') format('truetype');
      font-weight: 500;
    }

    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Semibold.woff') format('woff'),
        url('fonts/LeagueSpartan-Semibold.ttf') format('truetype');
      font-weight: 600;
    }

    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Bold.woff') format('woff'),
        url('fonts/LeagueSpartan-Bold.ttf') format('truetype');
      font-weight: 700;
    }

    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Extrabold.woff') format('woff'),
        url('fonts/LeagueSpartan-Extrabold.ttf') format('truetype');
      font-weight: 800;
    }

    @font-face {
      font-family: 'League Spartan';
      src:
        url('fonts/LeagueSpartan-Black.woff') format('woff'),
        url('fonts/LeagueSpartan-Black.ttf') format('truetype');
      font-weight: 900;
    }
