* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(24, 1fr); */
    /* grid-template-rows: auto; */
    /* flex-wrap: wrap; */

}

.x24 {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2vw;
    row-gap: 2vh;
}

.xR2 {
    grid-template-rows: repeat(2, auto);
}

.xR20 {
    grid-template-rows: repeat(20, auto);
}

.x2 {
    grid-template-columns: auto auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */

}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100%
}

.grid-cont .grid-item {
    flex-grow: 1;
    /* order: ; */
    /* flex-basis: ; */
}

aside {
    grid-column: 1/4;
}

aside div {
    grid-column: span all;
}

.new-post-cont {
    grid-column: 4/13;

}

#feed {
    grid-row: 1/5;
    grid-column: 4/13;
}

.right-aligner {
    justify-content: end;

}

#nav-cont {
    flex-basis: 25%;
    flex-wrap: nowrap;
}

#nav-cont a {
    justify-content: end;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#search-cont {
    flex-basis: 50%;
}

#search-cont input {
    max-width: 30vw;
}

#logo-cont {
    flex-basis: 25%;
}

#settings-cont {
    grid-column: 4/13;
    grid-row: 1/2;
}

#sub-cont {
    grid-column: 1/13;
    ;
}

.stats-cont {
    grid-column: span 3;
}

.centerer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container .button-link {
    margin: 0.4rem 2rem 0.4rem auto;
}
        .accounts div figure{
            margin:0;
        }

        
        #login-cont{display:flex;}


/* -------------media queries-------------- */
@media screen and (max-width:1300px) {
    aside {
        grid-column: 1/5;
    }

    .new-post-cont,
    #feed {
        grid-column: 5/13;
    }

    main {
        padding: 10vh 7vw 0vh 5vw;
    }

    #settings-cont {
        grid-column: 5/13;
    }

}

@media screen and (max-width:1200px) {
    main {
        padding: 10vh 7vw 0vh 5vw;
    }

}

@media screen and (max-width: 1080px) {

    /* 
    #search-cont input {
        max-width: 80vw;
    } */
    #search-cont {
        /* flex-basis: unset; */
    }

    #search-cont input {
        /* flex-basis: unset; */
        max-width: 30vw;

    }

    #nav-cont a {
        justify-content: center;
    }

    aside {
        grid-column: 1/6;
    }

    aside.accounts {
        grid-column: 1/13;

    }
aside.accounts div{
grid-column: span 6
}
    #settings-cont {
        grid-column: 1/13;
        padding: 1.8rem;
    }

    .new-post-cont,
    #feed {
        grid-column: 6/13;
    }
}

@media screen and (max-width: 820px) {
    #nav-cont {
        flex-basis: 100%;
    }

    #nav-cont a {
        justify-content: center;
        flex-basis: 50%;
    }

    main {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 650px) {
    #nav-cont {
        flex-basis: 100%;
        justify-content: center;
    }

    #nav-cont a {
        flex-grow: 1;
    }

    #search-cont input {
        max-width: 80vw;
    }

    aside {
        display: none;
    }

    #search-cont input {
        max-width: 80vw;
    }

    .new-post-cont,
    #feed {
        grid-column: 1/13;
    }
}

@media screen and (max-width:450px) {
    #search-cont {
        flex-basis: 100%;
    }


    #nav #logo-cont {
        flex-basis: 100%;
    }
}