* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    /* flex-wrap: wrap; */
}

.x12-12 {}

.x11-12 {}

.x10-12 {}

.x9-12 {}

.x8-12 {}

.x6-12 {}

.x5-12 {}

.x4-12 {}

.x3-12 {}

.x2-12 {}

.x1-12 {}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */

}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100%
}

.grid-container .grid-item {
    flex-grow: 1;
    /* order: ; */
    /* flex-basis: ; */
}

#example-grid {
    column-gap: 1rem;
    row-gap: rem;
    width: 100%;
    /* min-height: 1rem; */
    /* height:  */
}

#example-grid div {
    background-color: var(--secondary-color);
    grid-column: span;
    min-height: 50vh;
    flex-basis: 8.2%;
    text-align: center;
    line-height: 50vh;
}

.right-aligner {
    justify-content: end;

}

#nav-container {
    flex-basis: 25%;
    flex-wrap: nowrap;
}

#nav-container a {
    justify-content: end;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#search-container {
    flex-basis: 50%;
}

#search-container input {
    max-width: 30vw;
}

#logo-cont {
    flex-basis: 25%;
}

.centerer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex50 {
    flex-basis: 50%;
    /* flex-grow: 1; */
}

.flex75 {
    flex-basis: 75%;
    /* flex-grow: 1; */
}

.flex25 {
    flex-basis: 25%;
    /* flex-grow: 1; */
}

.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}

.grow3 {
    flex-grow: 3;
}

/* -------------media queries-------------- */

@media screen and (max-width: 1080px) {

    /* 
    #search-container input {
        max-width: 80vw;
    } */
    #search-container {
        /* flex-basis: unset; */
    }
}

@media screen and (max-width: 820px) {
    #nav-container {
        flex-basis: 100%;
    }
    #nav-container a{
        justify-content: center;
        flex-basis: 50%;
    }
}

@media screen and (max-width: 650px) {
    #nav-container {
        flex-basis: 100%;
        justify-content: center;
    }
    
        #nav-container a {
            flex-grow: 1;
        }

    #search-container input {
        max-width: 80vw;
    }
}