.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  width: 100%;
}
.logo-bar {
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}
nav {
  background-color: #FFFFFF;
  overflow: hidden;
  top: 100px;
  width: 100%;
  padding:15px;
  text-align: center;
  border: 1px solid lightgrey;
}
nav a {
  text-decoration: none;
  color: black;
  padding:5rem;
}
nav a:hover, nav a:focus {
  text-decoration: none;
}
a:hover {
  background-color: #ddd;
  color: black;
}
a:focus {
  background-color: #89C97B;
}
a.active {
  background-color: #4CAF50;
  color: white;
}

main {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 10.5rem;
}
body {
  background-color: #F5F5F5;
}
.brand-div {
  padding: 3rem;
  background-color: #FFFFFF;
  margin-bottom: 4rem;
}
.logo-div {
  padding: 3rem;
  background-color: #FFFFFF;
  margin-bottom: 4rem;
}
.color-palette-div {
  padding: 3rem;
  background-color: #FFFFFF;
  margin-bottom: 4rem;
}
.typeface-div {
  padding: 3rem;
  padding-bottom: 22rem;
  background-color: #FFFFFF;
  margin-bottom: 4rem;
}
.font-div {
  float: left;
  width: 25vw;
}
.hierarchy-div {
  float:left
}
.grid-div {
  padding: 3rem;
  background-color: #FFFFFF;
  margin-bottom: 4rem;
}


/*---------------media queries------------------ */
