@import "fonts.css";

/* TEXT STYLING */
:root {
  --primary-color: #383838;
  --secondary-color: #F5F5F5;
  --primary-highlight-color: #89C97B;
  --secondary-highlight-color: #43b929;
  --primary-font: "League Spartan";
  --secondary-font: "Be Vietnam";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

h1 {
  font-size: 2rem;
}

h1 strong {
  font-weight: 700;
}

p,
a {
  font-family: var(--secondary-font);
  font-weight: 400;
}

p {
  font-size: 0.7em;
}
label{
  color: var(--primary-font);
}

/* --------------nav------------ */
.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  width: 100%;
}

#logo-bar {
  top: 0px;
  left: 0px;
  width: 100%;
}

#logo-bar h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700
}

#nav-bar a {
  /* float: left; */
  display: block;
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 14px;
}

#logo-cont {
  padding-left: 2rem;
  /* width: 15vw; */
  /* float: left; */
  /* display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center; */
}

#logo-cont a {
  display: inline-block;

}

/* #search-nav-cont {
  padding: 1.25rem;
} */

#search-cont {

  padding-left: 8vw;
}

#nav-cont a {
  padding: 1rem;

}
#nav-cont a{
  transition: color 0.3s;
}
#nav-cont a:hover:focus{
color: green;
}
nav {
  z-index: 3;
}

/* BODY */
main {
  padding: 10vh 15vw 0vw 5vw;
  padding-top: 8rem;
  /* padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 10.5rem; */
}

body {
  background-color: #F5F5F5;
}

aside {
  padding: 1rem 2rem 1rem 2rem;
}

#feed {}

#subscription {
  /* padding-left: 10rem; */
}

.post-cont h3,
.post-cont p {
  padding-left: 1.5rem;
}

.post-cont figure {
  margin: 0.1rem;
}
#settings-cont{
  padding: 2rem;
}
#settings-cont,
.sub-options {
  background-color: #FFFFFF;
  border: 0.5px solid lightgrey;
  border-radius: 3px;

}

#settings-cont h3,
p {
  /* padding-left: 2rem; */
}

.stats-cont {
  height: 4rem;
}

.sub-options {
  padding: 2rem;
  border: 0.5px solid lightgrey;
  margin-bottom: 2vh;
}

.stats-cont h3 {
  /* padding-bottom: 1rem; */
  margin: 0;
}
.text-container{
  min-height: 5rem;
}

.grid-div {
  padding: 3rem;
  background-color: #FFFFFF;
  margin-bottom: 4rem;
}

.payment-form-cont {
  height: 150px;
  background-color: #9100fb;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.payment-form-cont p {
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

/* ~~~ https://www.w3schools.com/howto/howto_css_checkout_form.asp used for checkout form  ~~~ */


label {
  /* margin-bottom: 10px; */
  display: block;
}

.icon-cont {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

.logo-text {
  color: #89C97B;
}

#profile-section {
  /* float: left; */
  /* width: 26vw; */
  background-color: #FFFFFF;
  border: 0.5px solid lightgrey;
  border-radius: 3px;

}

hr {
  border-top: 0.5px solid lightgrey;
}

.post-cont,
.new-post-cont {
  /* float: right; */
  margin-bottom: 3rem;
  /* width: 50vw; */
  background-color: #FFFFFF;
  border: 0.5px solid lightgrey;
  border-radius: 3px;

}

.new-post-cont {
  padding: 0 2rem 0 2rem;
  position: sticky;
  height: 8rem;
  /* max-height: min-content; */
}


/* --------------nav------------ */
input[type=text] {
  width: 100%;
  padding: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: var(--secondary-font);
  font-weight: 400;
}


h1.first:nth-child(1) {
  text-align: center;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  line-height: 1.3rem;
  display: block;
  color: var(--primary-color);
  margin: 1rem 0.5rem;

}

[type="radio"]:checked+label {
  /* color:var(--secondary-color); */
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--primary-highlight-color);
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: var(--primary-highlight-color);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type="text"] {
  border: solid var(--secondary-color);
  border-radius: 3px;
  transition: border 0.15s ease-out
}

input[type="text"]:focus,
input[type="text"]:hover {
  border: solid var(--primary-highlight-color);
  border-radius: 3px;
}

.button-link,
button {
  font-weight: 400;
  font-size: 1.3rem;
  display: inline-block;
  padding: 0.3rem 2rem;
  color: var(--primary-highlight-color);
  background-color: rgb(50, 50, 50, 0);
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.5s;
  border: 2.5px solid var(--primary-highlight-color);
}

.button-link:hover,
.button-link:focus {
  background-color: var(--primary-highlight-color);
  color: var(--secondary-color);
}

button {
  flex-grow: 1;
  color: var(--primary-highlight-color);
  border: solid 2px var(--primary-highlight-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
  margin: 0.2rem;
}

button:hover,
button:focus {
  color: white;
  background-color: var(--primary-highlight-color);
}

.button-cont {
  display: flex;
}

.text-link p {
  padding: 1rem;
}

p a {
  color: var(--primary-highlight-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s;
}

p a:hover,
p a:focus {
  color: var(--primary-color);
  background-color: var(--primary-highlight-color);
}

.bright-on-dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

p.bright-on-dark a {
  color: var(--primary-highlight-color);
  background-color: var(--primary-color);
}

p.bright-on-dark a:focus,
p.bright-on-dark a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

a.img-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}

a.img-link>img {
  border: solid 2px transparent;
  /* filter:blur(5px); */
  filter: brightness(50%);
  transition: filter 0.1s ease-in;
}

a.img-link>img:hover,
.imga.img-link>img:focus {
  /* border-color: var(--primary-highlight-color); */
  filter: brightness(100%);
}
#login-cont{
  margin:0rem 2rem 0rem auto;
}
#login-cont label { font-size: 0.2rem;
}
#login-cont div{
  margin: 1rem 0.2rem;
}
#login-buttons{
  margin-top: 0.5rem;;
}
#login-cont input{
  height:1.5rem;

}
#login-buttons button{
  font-size: 0.5rem;
  margin-top: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  height: 1.5rem;
}

/*---------------media queries------------------ */
/* https://www.w3schools.com/howto/howto_css_checkout_form.asp used for checkout form */